*.out
*.pkl
*.pt
*.pth

.ipynb_checkpoints/
MLDL_HW3.ipynb
checkpoints/
__pycache__/
data/
visualize.ipynb
resnet
resnet34.py
fixmatch_cub/
experiment.py
download.sh


cifar100_pretraining/__pycahce__
cifar100_pretraining/checkpoints
202335068_HANYEWON_HW3/
